KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
EUREKA_DEFAULT_ZONE=http://ms-eureka:8761/eureka/
KEYCLOAK_ISSUER_URI=http://localhost:8089/realms/ms-realm
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
BATCH_REPLICAS=4
BATCH_FILE_CONCURRENCY=5
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/ms-realm/protocol/openid-connect/certs
BATCH_MEMORY_LIMIT=768m
BATCH_MIN_DELAY_MS=500
BATCH_MAX_DELAY_MS=1500

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
LOKI_RETENTION_HOURS=168
TZ=Europe/Paris
MS_CLIENT_PORT=8090
ADMIN_APP_PORT=9300
